@import 'variables.scss';
@import 'price_card.scss';
* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  color: $color-white;
}

.page {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $page-bkg-color;
}
