$page-bkg-color: #141b1c;
$color-mid-grey: rgba(51, 66, 71, 1);
$color-dark-grey: rgba(42, 52, 56, 1);
$color-mid-gray-items: rgba(31, 61, 99, 1);
$color-green: rgba(91, 177, 137, 1);
$color-blue: rgba(58, 107, 165, 1);
$color-orage: rgba(236, 99, 42, 1);
$color-red: rgba(220, 63, 69, 1);

$color-white: #fff;
